<!--

=========================================================
* Pixel Lite Bootstrap Design System
=========================================================

* Product Page: https://themesberg.com/product/ui-kits/pixel-lite-free-bootstrap-4-ui-kit
* Copyright 2019 Themesberg (https://www.themesberg.com)
* License Themesberg (Crafty Dwarf LLC) (https://themesberg.com/licensing)

* Coded by https://themesberg.com

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

-->
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!-- Primary Meta Tags -->
    <title>Pixel Lite - Services</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="title" content="Pixel Lite - Services">
    <meta name="author" content="Themesberg">
    <meta name="description" content="Open source and accessibility first Bootstrap Design System featuring over 80 premium components and 4 example pages.">
    <meta name="keywords" content="bootstrap, Bootstrap Design System, accessiblity, accessibility first, open source, open source Bootstrap Design System" />
    <link rel="canonical" href="https://themesberg.com/product/ui-kits/pixel-lite-free-bootstrap-4-ui-kit">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://demo.themesberg.com/pixel-lite">
    <meta property="og:title" content="Pixel Lite - Services">
    <meta property="og:description" content="Open source and accessibility oriented Bootstrap Design System featuring over 80 premium components and 4 example pages.">
    <meta property="og:image" content="https://themesberg.s3.us-east-2.amazonaws.com/public/products/pixel-lite/pixel-lite-preview.jpg">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://demo.themesberg.com/pixel-lite">
    <meta property="twitter:title" content="Pixel Lite - Services">
    <meta property="twitter:description" content="Open source and accessibility oriented Bootstrap Design System featuring over 80 premium components and 4 example pages.">
    <meta property="twitter:image" content="https://themesberg.s3.us-east-2.amazonaws.com/public/products/pixel-lite/pixel-lite-preview.jpg">

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="/assets/img/favicon/site.webmanifest">
    <link rel="mask-icon" href="/assets/img/favicon/safari-pinned-tab.svg" color="#ffffff">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">

    <!-- Fontawesome -->
    <link type="text/css" href="/vendor/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">

    <!-- Pixel CSS -->
    <link type="text/css" href="/css/pixel.css" rel="stylesheet">


</head>

<body>
<header class="header-global">
    <nav id="navbar-main" aria-label="Primary navigation" class="navbar navbar-main navbar-expand-lg navbar-theme-primary headroom navbar-dark navbar-transparent">
        <div class="container position-relative">
            <a class="navbar-brand mr-lg-5" href="/index.html">
                <img class="navbar-brand-dark" src="/assets/img/brand/light.svg" alt="Logo Pixel Light">
                <img class="navbar-brand-light" src="/assets/img/brand/dark.svg" alt="Logo Pixel Dark">
            </a>
            <div class="navbar-collapse collapse" id="navbar_global">
                <div class="navbar-collapse-header">
                    <div class="row">
                        <div class="col-6 collapse-brand">
                            <a href="/index.html#features">
                                <img src="/assets/img/brand/dark.svg" alt="Logo Pixel">
                            </a>
                        </div>
                        <div class="col-6 collapse-close">
                            <a href="#navbar_global" class="fas fa-times" data-toggle="collapse" data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex align-items-center">
                <span class="d-none d-md-inline"> <a href="https://demo.themesberg.com/pixel-pro/" target="_blank" class="btn btn-tertiary animate-up-2">Cadastro</a></span>
                <a href="https://themesberg.com/docs/pixel-bootstrap/getting-started/overview/" target="_blank" class="btn btn-outline-soft ml-md-3 animate-up-2"><span class="far fa-user mr-2"></span>Login</a>
                <button class="navbar-toggler ml-2" type="button" data-toggle="collapse" data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>
    </nav>
</header>
<main>

    <div class="preloader bg-dark flex-column justify-content-center align-items-center">
        <svg id="loader-logo" xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 64 78.4">
            <path fill="#fff" d="M10,0h1.2V11.2H0V10A10,10,0,0,1,10,0Z"/>
            <rect fill="none" stroke="#fff" stroke-width="11.2" x="40" y="17.6" width="0" height="25.6"/>
            <rect fill="none" stroke="#fff" stroke-opacity="0.4" stroke-width="11.2" x="23" y="35.2" width="0" height="25.6"/>
            <path fill="#fff" d="M52.8,35.2H64V53.8a7,7,0,0,1-7,7H52.8V35.2Z"/>
            <rect fill="none" stroke="#fff" stroke-width="11.2" x="6" y="52.8" width="0" height="25.6"/>
            <path fill="#fff" d="M52.8,0H57a7,7,0,0,1,7,7h0v4.2H52.8V0Z"/>
            <rect fill="none" stroke="#fff" stroke-opacity="0.4" stroke-width="11.2" x="57.8" y="17.6" width="0" height="11.2"/>
            <rect fill="none" stroke="#fff" stroke-width="11.2" x="6" y="35.2" width="0" height="11.2"/>
            <rect fill="none" stroke="#fff" stroke-width="11.2" x="40.2" y="49.6" width="0" height="11.2"/>
            <path fill="#fff" d="M17.6,67.2H28.8v1.2a10,10,0,0,1-10,10H17.6V67.2Z"/>
            <rect fill="none" stroke="#fff" stroke-opacity="0.4" stroke-width="28.8" x="31.6" width="0" height="11.2"/>
            <rect fill="none" stroke="#fff" x="14" stroke-width="28.8" y="17.6" width="0" height="11.2"/>
        </svg>
    </div>

    <!-- Hero -->
    <div class="section section-xl bg-primary overflow-hidden">
        <div class="container z-2">
            <div class="row py-4 py-md-6 pb-1 justify-content-center text-white text-center">
                <div class="col-12 col-md-10">
                    <div class="mb-3">
                        <h1 class="display-3 font-size-md-down-5 font-weight-light mb-0">Denuncie Já!</h1>
                    </div>
                    <p class="my-4 px-0 px-lg-7 lead">O site criado para denunciar abusos dentro da sala de aula! A próxima vítima pode ser um colega seu, não esconda abusos. Denuncie e permaneça anônimo.</p>
                    <a href="./services.html" class="btn btn-tertiary mr-3 animate-up-2"><span class="fas fa-bullhorn mr-2"></span> Denunciar</a>
                </div>
            </div>
        </div>
    </div>
    <!-- End of Hero section -->
    <section class="section section-md pt-0">
        <div class="container">
            <div class="col-12 col-lg-12">
                <div class="row justify-content-center mt-n7 z-2">
                    <div class="col-12 col-md-6">
                        <div class="row mt-5 mt-lg-0 mr-md-1">
                            <!-- Icon Boxes -->
                            <div class="card border-light">
                                <div class="card-body p-5">
                                    <img src="/assets/img/pages/design.svg" alt="Web design illustration" class="image-md mb-4">
                                    <h2 class="h4 mb-2">Equipe de Profissionais</h2>
                                    <p>Ao realizar uma denúncia, uma equipe de profissionais da sua instituição analisará seu caso. Psicólogos, Pedagogos e a Diretoria estudarão e tratarão seu caso da forma correta, presevando sua identidade e evitando
                                        que seu caso se repita em sua instituição.</p>
                                    <a href="#" class="btn btn-sm btn-primary">Learn more</a>
                                </div>
                            </div>
                            <!-- End of Icon Boxes -->
                            <!-- Icon Boxes -->
                            <div class="card border-light mt-3">
                                <div class="card-body p-5">
                                    <img src="/assets/img/pages/technologies.svg" alt="Responsive illustration" class="image-md mb-4">
                                    <h2 class="h4 mb-2">Totalmente Digital</h2>
                                    <p>Você poderá denunciar um ocorrido e acompanhar o desenrrolar do caso de forma totalmente digital. As informações podem ser acessadas de qualquer lugar através de um navegador Web.</p>
                                    <a href="#" class="btn btn-sm btn-primary">Learn more</a>
                                </div>
                            </div>
                            <!-- End of Icon Boxes -->
                        </div>
                    </div>
                    <div class="col-12 col-md-6 mt-5">
                        <div class="row mt-3 mt-lg-0 mr-1">
                            <!-- Icon Boxes -->
                            <div class="card border-light">
                                <div class="card-body p-5">
                                    <img src="/assets/img/pages/code.svg" alt="Code illustration" class="image-md mb-4">
                                    <h2 class="h4 mb-2">Segurança e Anonimato</h2>
                                    <p>Somente os profissionais da instutição responsáveis por resolver os casos terão acesso aos seus dados. Sua segurança e
                                    anonimato serão preservados</p>
                                    <a href="#" class="btn btn-sm btn-primary">Learn more</a>
                                </div>
                            </div>
                            <!-- End of Icon Boxes -->
                            <!-- Icon Boxes -->
                            <div class="card border-light mt-3">
                                <div class="card-body p-5">
                                    <img src="/assets/img/pages/support.svg" alt="Support illustration" class="image-md mb-4">
                                    <h2 class="h4 mb-2">Seriedade e Transparência</h2>
                                    <p>Suas denúncias serão analisadas de forma séria por profissionais capacitados. O processo de apuração e resolução do ocorrido é
                                    feito de forma amigável e transparente. Todas as medidas tomadas são analisadas cuidadosamente para que sua segurança seja sempre preservada.</p>
                                    <a href="#" class="btn btn-sm btn-primary">Learn more</a>
                                </div>
                            </div>
                            <!-- End of Icon Boxes -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Section -->
    <div class="section section-md bg-soft">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 text-center">
                        <span class="d-block mb-2">
                            <span class="star fas fa-star text-warning"></span>
                            <span class="star fas fa-star text-warning"></span>
                            <span class="star fas fa-star text-warning"></span>
                            <span class="star fas fa-star text-warning"></span>
                            <span class="star fas fa-star text-warning"></span>
                        </span>
                    <blockquote class="blockquote">
                        O Denuncie já mudou completamente a instituição onde trabalho. Em menos de 8 meses de uso conseguimos resolver a maior
                        parte dos problemas relacionados na relação professor-aluno. Muito grato a equipe!
                        <footer class="blockquote-footer mt-3 text-primary">Anônimo</footer>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
    <section class="section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="text-center">
                        <h2 class="h1 font-weight-light">Junte-se aos nossos <span class="font-weight-bold">37.489 </span> usuários e
                            <span class="font-weight-bold">475 </span> Instituições cadastradas
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<footer class="footer pt-7 pb-6 bg-primary text-white">
    <div class="container">
        <div class="row">
            <div class="col mb-md-0">
                <div class="d-flex text-center justify-content-center align-items-center" role="contentinfo">
                    <p class="font-weight-normal font-small mb-0">Copyright © Gabriel
                        <span class="current-year">2020</span>. Todos os direitos reservados.</p>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- Core -->
<script src="/vendor/jquery/dist/jquery.min.js"></script>
<script src="/vendor/popper.js/dist/umd/popper.min.js"></script>
<script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/vendor/headroom.js/dist/headroom.min.js"></script>

<!-- Vendor JS -->
<script src="/vendor/onscreen/dist/on-screen.umd.min.js"></script>
<script src="/vendor/nouislider/distribute/nouislider.min.js"></script>
<script src="/vendor/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
<script src="/vendor/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js"></script>
<script src="/vendor/waypoints/lib/jquery.waypoints.min.js"></script>
<script src="/vendor/jarallax/dist/jarallax.min.js"></script>
<script src="/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
<script src="/vendor/vivus/dist/vivus.min.js"></script>

<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>

<!-- pixel JS -->
<script src="/assets/js/pixel.js"></script>
</body>

</html>